{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
{{!master(layout/_master.tmpl)}}

{{^_splitReference}}
{{#isClass}}

<h1 id="{{id}}" data-uid="{{uid}}" class="text-break">
  {{#inClass}}{{name.0.value}}{{/inClass}}
  {{#sourceurl}}<a class="header-action link-secondary" title="View source" href="{{sourceurl}}"><i class="bi bi-code-slash"></i></a>{{/sourceurl}}
</h1>

<div class="markdown summary">{{{summary}}}</div>
<div class="markdown level0 remarks">{{#remarks}}{{{remarks}}}{{/remarks}}</div>
<div class="markdown conceptual">{{{conceptual}}}</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="user-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Users</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="developer-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Developers</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="Users">
  <br>
  {{#children}}
  {{#inProperty}}

  <table>
    <tr>
      <th>Property</th>
      <th>Type</th> 
      <th>Description</th>
    </tr>
    {{>partials/class.properties}}
  </table>

  {{/inProperty}}
  {{/children}}
  
  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="Developers">
  {{>partials/class.relationships}}
  {{#children}}
  {{#inConstructor}}

  <table>
    <tr>
      <th>Constructors</th>
      <th>Parameters</th>
      {{>partials/class.constructors}}
    </tr>
    
  </table>

  {{/inConstructor}}
  {{/children}}

  {{#children}}
  {{#inMethod}}

  <table>
    <tr>
      <th>Methods</th>
      <th>Parameters</th>
      <th>Returns & Exceptions</th>
      {{>partials/class.methods}}
    </tr>
    
  </table>
  {{/inMethod}}
  {{/children}}
  </div>
</div>

{{/isClass}}


{{#isEnum}}

<h1 id="{{id}}" data-uid="{{uid}}" class="text-break">
  {{#inEnum}}{{name.0.value}}{{/inEnum}}
  {{#sourceurl}}<a class="header-action link-secondary" title="View source" href="{{sourceurl}}"><i class="bi bi-code-slash"></i></a>{{/sourceurl}}
</h1>


<div class="markdown summary">{{{summary}}}</div>
<div class="markdown level0 remarks">{{#remarks}}{{{remarks}}}{{/remarks}}</div>
<div class="markdown conceptual">{{{conceptual}}}</div>


{{#children}}


{{#inField}}
<h2>Fields</h2>
<table>
  <tr>
    <th>Value</th>
    <th>Description</th>
  </tr>
  {{>partials/enum.fields}}
</table>

{{/inField}}


{{/children}}


{{/isEnum}}
{{/_splitReference}}
