<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Gallery" value="Gallery" />
    <add key="Bonsai Packages" value="https://www.myget.org/F/bonsai/api/v3/index.json" />
    <add key="Community Packages" value="https://www.myget.org/F/bonsai-community/api/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/dotnet/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="banchan86"/>
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>

